@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Righteous&display=swap');

:root {
    /* Fonts */
    --ff-title: 'Fascinate Inline', cursive;
    --ff-body: 'Righteous', cursive;

    /* Colors */
    --bg-primary: #f1eee9;
    --purple: #b3a0ce;
    --brown: #e2d1bf;
    --green: #d1ef53;
    --orange: #fd5e09;
    --bg-dark: #1e1c1f;

    /* Border */
    --border-primary: solid 2px black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: var(--ff-body);
}
body {
    font-size: 1.8rem;
    background-color: var(--bg-primary);
}
img {
    display: block;
    max-width: 100%;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

/* ***************HEADER************** */
.header {
    border-bottom: var(--border-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 4rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: var(--bg-primary);
    top: 0;
    height: 11rem;
}
.logo {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.logo__img {
    width: 5rem;
}
.logo__name {
    text-transform: uppercase;
    font-size: 4rem;
}
/* Nav */
.header__nav ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}
.header__link a {
    font-size: 2.5rem;
    color: black;
}
.header__link:first-of-type a {
    color: var(--purple);
}
.header__link a:hover {
    color: var(--purple);
    transition: .2s;
}

/* *********************HERO************** */
.hero {
    margin-top: 11rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    place-items: center;
    border-bottom: var(--border-primary);
}
.hero__title {
    font-family: var(--ff-title);
    font-size: 15rem;
    text-align: center;
    padding: 4rem 0;
    height: 100%;
}
.hero__title span {
    font-size: 25rem;
}
.hero__logo {
    width: 10rem;
}
.hero__desc {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 6rem;
    text-align: center;
    padding: 2rem 5rem;
    background-color: var(--purple);
    height: 100%;
    border-left: var(--border-primary);
}
.hero__text {
    font-size: 4rem;
}
.hero__link i {
    color: black;
    font-size: 5rem;
}