@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Righteous&display=swap');

:root {
    /* Fonts */
    --ff-title: 'Fascinate Inline', cursive;
    --ff-body: 'Righteous', cursive;

    /* Colors */
    --bg-primary: #f1eee9;
    --purple: #b3a0ce;
    --brown: #e2d1bf;
    --green: #d1ef53;
    --orange: #fd5e09;
    --bg-dark: #1e1c1f;

    /* Border */
    --border-primary: solid 3px black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: var(--ff-body);
    scroll-behavior: smooth;
}
body {
    font-size: 1.8rem;
    background-color: var(--bg-primary);
    width: 100vw;
}
img {
    display: block;
    max-width: 100%;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

/* ***************HEADER************** */
.header {
    border-bottom: var(--border-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 4rem;
    /* position: fixed;
    width: 100%;
    z-index: 1;
    background-color: var(--bg-primary);
    top: 0; */
    height: 10vh;
}
.logo {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: black;
}
.logo__img {
    width: 5rem;
}
.logo__name {
    text-transform: uppercase;
    font-size: 4rem;
}
/* Nav */
.header__nav ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}
.header__link a {
    font-size: 2.5rem;
    color: black;
}
.header__link:first-of-type a {
    color: var(--purple);
}
.header__link a:hover {
    color: var(--purple);
    transition: .2s;
}

/* *********************HERO************** */
.hero {
    /* margin-top: 11rem; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 90vh;
    width: 100%;
    border-bottom: var(--border-primary);
}
.hero__title {
    font-family: var(--ff-title);
    font-size: 15rem;
    text-align: center;
    padding: 4rem 0;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
}
.hero__title span {
    font-size: 25rem;
}
.hero__logo {
    width: 10rem;
    animation: rotation 5s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.hero__desc {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 6rem;
    text-align: center;
    padding: 2rem 5rem;
    background-color: var(--purple);
    height: 100%;
    width: 100%;
    border-left: var(--border-primary);
}
.hero__text {
    font-size: 4rem;
}
.hero__link i {
    color: black;
    font-size: 5rem;
    transition: color .5s ease-in-out;
}
.hero__link {
    animation: jumpInfinite 1.5s infinite;
}
.hero__link:hover i {
    color: var(--green);
}
@keyframes jumpInfinite {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
} 


/* *****************SLIDE************** */


.slides {
    background-color: var(--bg-dark);
    padding: 1rem;
    overflow: hidden;
}

.marquee {
    width: 100vw;
    position: relative;
    height: 20rem;
    overflow: hidden;
}    
.marquee-content {
    display: flex;
    animation: marquee 10s linear infinite;
}

.slide__img {
    width: 20vw;
    height: 20rem;
    object-fit: cover;
    border: 1rem solid var(--bg-dark);
    /* margin: 0 1rem; */
    flex-shrink: 0;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-160vw);
    }
}


/* *********************RECIPES************************** */
.recipes {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    padding: 10rem;
    place-items: center;
    
}

.recipes__card {
    width: 80%;
    max-width: 60rem;
    height: 50rem;
    text-align: center;
    border: var(--border-primary);
    display: grid;
    grid-template-rows: 80% 20%;
    place-items: center;
    overflow: hidden;
    
}
.recipes__card:hover .recipes__img {
    transform: scale(1.1);
}
.recipes__img {
    height: 100%;
    object-fit: fill;
    z-index: -1;
    transition: all 1s ease-in-out;
}
.recipes__title {
    overflow: hidden;
    padding: 2rem 0;
    font-family: var(--ff-title);
    font-size: 4rem;
    color: black;
    background-color: var(--purple);
    height: 100%;
    width: 100%;
    border-top: var(--border-primary);
}
.recipes__card:nth-child(2) .recipes__title {
    background-color: var(--brown);
}
.recipes__card:nth-child(3) .recipes__title {
    background-color: var(--green);
}
.recipes__card:nth-child(4) .recipes__title {
    background-color: var(--orange);
}

@media screen and (max-width: 1024px) {
    .hero {
        height: auto;
    }
    .hero__title {
        font-size: 8rem;
    }
    .hero__title span {
        font-size: 15rem;
    }
    .hero__logo {
        width: 7rem;
    }
    .hero__desc {
        padding: 5rem 2rem;
    }
    .hero__text {
        font-size: 3rem;
    }
    .recipes__card {
        height: 30rem;
    }
    .recipes__title {
        font-size: 3rem;
        padding: 1rem 0;
    }
}

@media screen and (max-width: 768px) {
    .hero__title {
        font-size: 5rem;
    }
    .hero__title span {
        font-size: 10rem;
    }
    .hero__text {
        font-size: 2.5rem;
    }
    .marquee {
        height: 15rem;
    }
    .slide__img {
        height: 15rem;
    }
    .recipes__card {
        height: 20rem;
    }
    .recipes__title {
        font-size: 2rem;
        padding: .5rem 0;
    }
}
@media screen and (max-width: 600px) {
    .header {
        padding: 2rem;
        height: auto;
    }
    .logo {
        gap: 1rem;
    }
    .logo__img {
        width: 4rem;
    }
    .logo__name {
        font-size: 3rem;
    }
    .header__nav ul {
        gap: 2rem;
    }
    .header__link a {
        font-size: 2rem;
    }
    .hero {
        grid-template-columns: 1fr;
    }
    .hero__title {
        padding: 2rem 0;
        font-size: 7rem;
    }
    .hero__title span {
        letter-spacing: 1rem;
        font-size: 11rem;
    }
    .hero__desc {
        padding: 4rem 0 2rem;
        gap: 1rem;
        position: relative;
        border: none;
    }
    .hero__logo {
        position: absolute;
        top: -3.5rem;
    }
    @keyframes jumpInfinite {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-15px);
        }
        100% {
            transform: translateY(0);
        }
    }

    .recipes {
        grid-template-columns: 1fr;
        padding: 2rem;
    }
    .recipes__card {
        height: 30rem;
    }
    .recipes__img {
        width: 100%;
        object-fit: cover;
    }
    .recipes__title {
        font-size: 3rem;
        padding: 1rem 0;
    }
}
@media screen and (max-width: 425px) {
    .logo__name {
        font-size: 2.5rem;
    }
    .logo__img {
        width: 3rem;
    }
    .header__link a {
        font-size: 1.5rem;
    }
    .hero__title {
        font-size: 5.5rem;
    }
    .hero__title span {
        font-size: 8rem;
    }
    .hero__logo {
        width: 5rem;
        top: -2.5rem;
    }
    .hero__text {
        font-size: 2rem;
    }
    .hero__link i {
        font-size: 4rem;
    }
    @keyframes jumpInfinite {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }

    .marquee {
        height: 10rem;
    }
    .slide__img {
        height: 10rem;
    }
}

@media screen and (max-width: 320px) {
    .logo__name {
        font-size: 2rem;
    }
    .logo__img {
        width: 2.5rem;
    }
    .header__nav ul {
        gap: 1rem;
    }
    .header__link a {
        font-size: 1.3rem;
    }
    .hero__desc {
        padding: 4rem .5rem 2rem;
    }
    .slides {
        padding: .5rem;
    }
    .marquee {
        height: 8rem;
    }
    .slide__img {
        height: 8rem;
        border: .5rem solid var(--bg-dark);
    }
    .recipes__title {
        font-size: 2rem;
        padding: 1.5rem 0;
    }
}