@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: inherit;
  overflow: hidden;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background: #FFCA6E;
  padding: 0.75rem 1.75rem;
  border-radius: 30px;
  color: black;
  font-family: inherit;
  text-decoration: none;
  box-shadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.2);
  font-weight: 500;
  margin-top: 0.5rem;
  transition: all 0.2s ease;
  cursor: pointer;
}
.btn:hover {
  background: #fed48c;
}

header {
  background: #0B212D;
  padding: 1.25rem 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header.modal {
  background-color: white;
  transition: all 3s;
}
header.modal .logo__subtitle, header.modal .logo__title {
  color: #0B212D;
}
header.modal .logo__title {
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  transition: all 1s;
}
header.modal .logo__subtitle {
  font-size: 0.75rem;
  transition: all 1s;
}
header.modal .logo__subtitle svg {
  height: 20px;
  width: 20px;
  transition: all 1s;
}
header.modal .hero__desc {
  position: absolute;
  top: 18vh;
  font-size: 0.75rem;
  z-index: 5;
  transition: all 0.5s;
}
header.modal .hero__title {
  position: absolute;
  top: 20vh;
  font-size: 2.5rem;
  z-index: 5;
  transition: all 0.5s;
}
header.modal .btn {
  display: none;
}

.logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.logo .logo__title {
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
}
.logo .logo__title span {
  letter-spacing: 0;
}
.logo .logo__subtitle {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.logo .logo__subtitle span {
  letter-spacing: 0.5rem;
}
.logo .logo__subtitle svg {
  fill: #FFCA6E;
  height: 30px;
  width: 30px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 0.5rem;
}
.hero .hero__desc {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  top: 1000px;
}
.hero .hero__desc span {
  text-transform: lowercase;
}
.hero .hero__title {
  text-transform: capitalize;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.3rem;
  font-size: 3rem;
  top: 1000px;
}

.open__icon {
  cursor: pointer;
}
.open__icon svg {
  fill: white;
  transition: fill 0.2s ease;
}
.open__icon:hover svg {
  fill: rgba(255, 255, 255, 0.7);
}

main {
  height: 87vh;
  width: 100%;
  background-color: #0B212D;
  position: absolute;
  bottom: -1000px;
  left: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transition: bottom 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main .close__btn {
  transform: rotate(180deg);
  margin-top: 0.5rem;
  cursor: pointer;
}
main .close__btn svg {
  fill: white;
}
main.open {
  bottom: 0;
}/*# sourceMappingURL=style.css.map */