@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

$blue: #0B212D;
$yellow: #FFCA6E;
$yellow-light: #fed48c;
$blue-box: #304952;
$blue-box-filled: #304952dd;
$blue-box-filled2: #495F69;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: inherit;
    overflow: hidden;
}
body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btn {
    background: $yellow;
    padding: .75rem 1.75rem;
    border-radius: 30px;
    color: black;
    font-family: inherit;
    text-decoration: none;
    box-shadow: 2px 4px 2px 0 rgba(0,0,0,.2);
    font-weight: 500;
    margin-top: .5rem;
    transition: all .2s ease;
    cursor: pointer;

    &:hover {
        background: $yellow-light;
    }
}


header {
    background: $blue;
    padding: 1.25rem 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &.modal {
        background-color: white;
        transition: all 2s;

        .logo__subtitle, .logo__title {
            color: $blue;
        }
        .logo__title {
            font-size: 1.2rem;
            letter-spacing: .5rem;
            transition: all 1s;
        }
        .logo__subtitle {
            font-size: .75rem;
            transition: all 1s;

            svg {
                height: 20px;
                width: 20px;
                transition: all 1s;
            }
        }
        .hero__desc {
            position: absolute;
            top: 18vh;
            z-index: 5;
            transition: all .5s;
        }
        .hero__title {
            position: absolute;
            top: 20vh;
            font-size: clamp(1.5em, 4.5vw, 2.5rem);
            z-index: 5;
            transition: all .5s;
        }

        .btn {
            display: none;
        }
    }
    
}

.logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .logo__title {
        color: white;
        font-family: 'Roboto Mono', monospace;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: .75rem;

        span {
            letter-spacing: 0;
        }
    }

    .logo__subtitle {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;

        span {
            letter-spacing: .5rem;
        }
        svg {
            fill: $yellow;
            height: 30px;
            width: 30px;
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: .5rem;

    .hero__desc {
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-size: clamp(.75em, 2vw, 1em);
        top: 1000px;
        span {
            text-transform: lowercase;
        }
    }

    .hero__title {
        text-transform: capitalize;
        font-family: 'Roboto Mono', monospace;
        letter-spacing: .3rem;
        font-size: 3rem;
        font-size: clamp(2em, 5vw, 3em);
        top: 1000px;
        text-align: center;
    }
}

.open__icon {
    cursor: pointer;
    svg {
        fill: white;
        transition: fill .2s ease;
    }

    &:hover svg {
        fill: rgba(255,255,255,.7);
    }
}


main {
    height: 87vh;
    width: 100%;
    background-color: $blue;
    position: absolute;
    bottom: -10000px;
    left: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: bottom .1s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .close__btn {
        transform: rotate(180deg);
        margin-top: .5rem;
        cursor: pointer;
        svg {
            fill: white;
        }
    }

    &.open {
      bottom: 0;  

      .form {
          top: 20vh;
          transition: top .5s;
      }
    }
    @media screen and (width < 450px) {
        &.open {
            .form {
                top: 14vh;
            }
        }
    }
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    max-width: 60rem;
    width: 100%;
    padding: 0 2rem;
    position: absolute;
    top: 1000px;
    
    

    .form__item {
        display: flex;
        flex-direction: column;
        gap: .25rem ;

        label {
            color: white;
        }

        input, textarea {
            flex: 1;
            appearance: none;
            width: 100%;
            border: none;
            border-radius: 15px;
            padding: .75rem 1.5rem;
            background-color: $blue-box;
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        textarea {
            resize: none;
        }
        ::placeholder {
            color: rgba(255,255,255,.5);
        }
        input.filled {
            background-color: $blue-box-filled2;
        }
        
    }
    
    .form__item:nth-last-child(2), 
    .form__item:nth-last-child(3) {
        grid-column: 1 / 3;
    }

    .input-file {
        display: none;
    }
    .file-input-container {
        position: relative;
        width: 100%;
        height: 46px;
        // padding: .75rem 1.5rem;
        padding: .4rem .6rem;
        background-color: $blue-box;
        border-radius: 15px;
        cursor: pointer;
        
        #file-label {
            cursor: pointer;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            margin: .1rem;
            border: 1px dashed rgba(255,255,255,.5);
            border-radius: 8px;
            padding: .25rem;

            .file-text {
                color: white;
                width: 100%;
                text-align: center;
                
    
                span {
                    text-decoration: underline;
                }
            }
            .progress-bar {
                width: 70%;
                height: 11.33px;
                margin: 5px 0;
                background-color: rgba(255,255,255,.5);
                border-radius: 10px;
                display: none;
                position: relative;
            }
            .progress-bar--after {
                width: 0%;
                height: 100%;
                content: '';
                display: block;
                background-color: $blue;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 10px;
            }
            #delete-icon {
                color: white;
                cursor: pointer;
                display: none;
            }
        }
        
    }


    .btn:disabled {
        opacity: .5;
        cursor: not-allowed;
    }
    .btn {
        grid-column: 1 / 3;
        justify-self: center;
        width: min(100%, 20rem);
        padding: 1.2rem;
        border: none;
    }

    
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px $blue-box-filled inset;
//   transition: background-color 5000s ease-in-out 0s;
}

.success-container {
    color: white;
    font-size: 2rem;
    text-align: center;
    display: none;
}

@media screen and (width < 450px) {
    .form {
        grid-template-columns: 1fr;
        gap: .5rem;

        .form__item:nth-last-child(2), 
        .form__item:nth-last-child(3),
        .btn {
            grid-column: 1 / 2;
        }
    }
}