@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

$blue: #0B212D;
$yellow: #FFCA6E;
$yellow-light: #fed48c;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: inherit;
    overflow: hidden;
}
body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btn {
    background: $yellow;
    padding: .75rem 1.75rem;
    border-radius: 30px;
    color: black;
    font-family: inherit;
    text-decoration: none;
    box-shadow: 2px 4px 2px 0 rgba(0,0,0,.2);
    font-weight: 500;
    margin-top: .5rem;
    transition: all .2s ease;
    cursor: pointer;

    &:hover {
        background: $yellow-light;
    }
}


header {
    background: $blue;
    padding: 1.25rem 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &.modal {
        background-color: white;
        transition: all 3s;

        .logo__subtitle, .logo__title {
            color: $blue;
        }
        .logo__title {
            font-size: 1.2rem;
            letter-spacing: .5rem;
            transition: all 1s;
        }
        .logo__subtitle {
            font-size: .75rem;
            transition: all 1s;

            svg {
                height: 20px;
                width: 20px;
                transition: all 1s;
            }
        }
        .hero__desc {
            position: absolute;
            top: 18vh;
            font-size: .75rem;
            z-index: 5;
            transition: all .5s;
        }
        .hero__title {
            position: absolute;
            top: 20vh;
            font-size: 2.5rem;
            z-index: 5;
            transition: all .5s;
        }

        .btn {
            display: none;
        }
    }
    
}

.logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .logo__title {
        color: white;
        font-family: 'Roboto Mono', monospace;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: .75rem;

        span {
            letter-spacing: 0;
        }
    }

    .logo__subtitle {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;

        span {
            letter-spacing: .5rem;
        }
        svg {
            fill: $yellow;
            height: 30px;
            width: 30px;
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: .5rem;

    .hero__desc {
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-size: 1rem;
        top: 1000px;
        span {
            text-transform: lowercase;
        }
    }

    .hero__title {
        text-transform: capitalize;
        font-family: 'Roboto Mono', monospace;
        letter-spacing: .3rem;
        font-size: 3rem;
        top: 1000px;
    }
}

.open__icon {
    cursor: pointer;
    svg {
        fill: white;
        transition: fill .2s ease;
    }

    &:hover svg {
        fill: rgba(255,255,255,.7);
    }
}


main {
    height: 87vh;
    width: 100%;
    background-color: $blue;
    position: absolute;
    bottom: -1000px;
    left: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: bottom .4s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .close__btn {
        transform: rotate(180deg);
        margin-top: .5rem;
        cursor: pointer;
        svg {
            fill: white;
        }
    }

    &.open {
      bottom: 0;  
    }
}