@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

$blue: #0B212D;
$yellow: #FFCA6E;
$yellow-light: #fed48c;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: inherit;
}
body {
    background: $blue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btn {
    background: $yellow;
    padding: .75rem 1.75rem;
    border-radius: 30px;
    color: black;
    font-family: inherit;
    text-decoration: none;
    box-shadow: 2px 4px 2px 0 rgba(0,0,0,.2);
    font-weight: 500;
    margin-top: .5rem;
    transition: all .2s ease;

    &:hover {
        background: $yellow-light;
    }
}


header {
    padding: 1.25rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .logo__title {
        color: white;
        font-family: 'Roboto Mono', monospace;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: .75rem;

        span {
            letter-spacing: 0;
        }
    }

    .logo__subtitle {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            letter-spacing: .5rem;
        }
        svg {
            fill: $yellow;
            height: 30px;
            width: 30px;
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: .5rem;

    .hero__desc {
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-size: 1rem;
        span {
            text-transform: lowercase;
        }
    }

    .hero__title {
        text-transform: capitalize;
        font-family: 'Roboto Mono', monospace;
        letter-spacing: .3rem;
        font-size: 3rem;
    }
}

.open__icon {
    svg {
        fill: white;
        transition: fill .2s ease;
    }

    &:hover svg {
        fill: rgba(255,255,255,.7);
    }
}