* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: gray;
}
.choices {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    width: 10rem;
    margin: 2rem auto;
    padding: .5rem;
    border: none;
    border-radius: 10px;
    background-color: violet;
    color: white;
    cursor: pointer;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 1000px;
}
.square {
    background-color: white;
    /* border: 1px solid gray; */
}
.change-color {
    background-color: violet;
}

.color-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
}

