@font-face {
    font-family: Impact;
    src: url('./assets/impact/impact.ttf');
}
:root {
    /* COLORS */
    --bg: #f1faee;
    --red: #e63946;
    --red-light: #ec9a9a;
    --light-blue: #a8dadc;
    --dark-blue: #457b9d;
    --bg-opacity: rgba(0,0,0,.5);
    --bg-opacity-more: rgba(0,0,0,.7);
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    box-sizing: inherit;
    font-size: 62.5%;
    font-family: Impact;
}
body {
    font-size: 1.8rem;
    background: var(--bg);
}

img {
    max-width: 100%;
    display: block;
}
h1, h2, h3 {
    font-weight: normal;
}

header {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 8rem 10rem 5rem;
}
.logo {
    width: 20rem;
    position: absolute;
    left: calc(50% - 10rem);
    top: 1rem;
    transform: rotate(9deg);
    z-index: -1;
}
.title {
    text-transform: uppercase;
    font-size: 6.2rem;
    /* letter-spacing: .5rem; */
}
.title span {
    color: var(--red);
    font-size: 10rem;
    letter-spacing: .1rem;
    display: block;
    margin-top: -2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.round_result {
    font-size: 4rem;
    letter-spacing: .1rem;
}

.game_container {
    display: flex;
    padding: 0 3rem;
    justify-content: space-between;
    gap: 3rem;
}

.box {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.choice_box {
    width: 30rem;
    height: 30rem;
    background-color: var(--light-blue);
    border: 5px solid var(--dark-blue);
    display: grid;
    place-items: center;
}
.choice_box img {
    width: 15rem;
}
button {
    display: block;
    border: none;
    cursor: pointer;
}
.selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.btn {
    background-color: var(--dark-blue);
    padding: .5rem;
    width: 5rem;
    border-radius: 5px;
    
}
.btn img {
    width: 3.8rem;
    height: 4rem;
    margin: 0 auto;
}
.btn:last-of-type img {
    width: 3rem;
}

.points_text {
    font-size: 4rem;
}
.points_score {
    color: var(--red-light);
    font-size: 3rem;
    margin-top: 1rem;
}

.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}
.rule-container {
    text-align: center;
}
.img-source {
    color: var(--red-light);
    font-size: 1.2rem;
    transition: color .2s ease-in-out;
}
.img-source:hover {
    color: var(--red);
}
.versus {
    font-size: 4rem;
}
.image_rule {
    width: 20rem;
}

.restart-btn {
    width: 20rem;
    margin: 2rem auto;
    font-family: inherit;
    background-color: var(--dark-blue);
    padding: 1rem 2rem;
    color: white;
    font-size: 2.5rem;
    border-radius: 15px;
}

/* GAME OVER PAGE */
.game-over {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg-opacity-more);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}
.active {
    display: flex;
}

.game-over_title {
    color: white;
    font-size: 12rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    
}
.game-over_title span {
    font-size: 8rem;
    display: block;
    margin-top: 1rem;
}
.restart-btn-xl {
    width: 30rem;
    height: 10rem;

    font-size: 4rem;
}

.rule_link {
    background: none;
}

/* RULES PAGE */
.rules-window {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-opacity-more);
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.active-window {
    display: flex;
}

.rules-window_img {
    width: 20rem;
}
.rules-window_source {
    font-size: 1.5rem;
    color: white;
    letter-spacing: .1rem;
    margin-top: -2rem;
}
.rules-window_source a {
    color: var(--red-light);
    transition: color .2s ease-in-out;
}
.rules-window_source a:hover {
    color: var(--red);
}
.rules-window_container {
    background-color: var(--bg);
    padding: 4rem 8rem;
    border-radius: 20px;
}
.rules-window_container p {
    margin-bottom: 3rem;
    font-size: 3rem;
}
li {
    line-height: 2;
    font-size: 2.5rem;
}
.continue-btn {
    text-transform: uppercase;
    letter-spacing: .1rem;
    width: 30rem;
    padding: 3rem 0;
}