@font-face {
    font-family: Impact;
    src: url('./assets/impact/impact.ttf');
}
:root {
    /* COLORS */
    --bg: #f1faee;
    --red: #e63946;
    --red-light: #ec9a9a;
    --red-light-shadow: hsla(0, 68%, 76%, 0.9);
    --light-blue: #a8dadc;
    --light-blue-shadow: hsla(182, 43%, 76%, 0.9);
    --dark-blue: #457b9d;
    --bg-opacity: rgba(0,0,0,.5);
    --bg-opacity-more: rgba(0,0,0,.7);
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    box-sizing: inherit;
    font-size: 62.5%;
    font-family: Impact;
}
body {
    font-size: 1.8rem;
    background: var(--bg);
    height: 100vh;
    display: grid;
    place-content: center;
}

img {
    max-width: 100%;
    display: block;
}
h1, h2, h3 {
    font-weight: normal;
}

header {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 2rem 10rem;
}
.logo {
    width: 20rem;
    position: absolute;
    left: calc(50% - 10rem);
    top: -4rem;
    transform: rotate(9deg);
    z-index: -1;
}
.title {
    text-transform: uppercase;
    font-size: 6.2rem;
    /* letter-spacing: .5rem; */
}
.title span {
    color: var(--red);
    font-size: 10rem;
    letter-spacing: .1rem;
    display: block;
    margin-top: -2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.round_result {
    font-size: 4rem;
    letter-spacing: .1rem;
}

.game_container {
    display: flex;
    padding: 0 3rem;
    justify-content: space-between;
    gap: 3rem;
}

.box {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.choice_box {
    width: 30rem;
    height: 30rem;
    background-color: var(--light-blue);
    border: 5px solid var(--dark-blue);
    display: grid;
    place-items: center;
    box-shadow: 0 0 10px 1px var(--light-blue-shadow);
    border-radius: 5px;
}
.choice_box img {
    width: 15rem;
}
button {
    display: block;
    border: none;
    cursor: pointer;
}
.selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.btn {
    background-color: var(--dark-blue);
    padding: .5rem;
    width: 5rem;
    border-radius: 5px;
    box-shadow: 2px 2px 8px 1px var(--light-blue-shadow);
    transition: all .2s ease-in-out;
}
.btn:hover {
    transform: scale(1.1);
    background-color: var(--red-light);
    box-shadow: 2px 2px 8px 1px var(--red-light-shadow);
}
.btn img {
    width: 3.8rem;
    height: 4rem;
    margin: 0 auto;
}
.btn:last-of-type img {
    width: 3rem;
}

.points_text {
    font-size: 4rem;
}
.points_score {
    color: var(--red-light);
    font-size: 3rem;
    margin-top: 1rem;
}

.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}
.rule-container {
    text-align: center;
}
.img-source {
    color: var(--red-light);
    font-size: 1.2rem;
    transition: color .2s ease-in-out;
}
.img-source:hover {
    color: var(--red);
}
.versus {
    font-size: 4rem;
}
.image_rule {
    width: 20rem;
}

.restart-btn {
    width: 20rem;
    margin: 2rem auto 1rem;
    font-family: inherit;
    background-color: var(--dark-blue);
    padding: 1rem 2rem;
    color: white;
    font-size: 2.5rem;
    border-radius: 15px;
    box-shadow: 2px 2px 8px 1px var(--light-blue-shadow);
    transition: all .2s ease-in-out;
}
.restart-btn:hover {
    transform: scale(1.1);
    background-color: var(--red-light);
    box-shadow: 2px 2px 8px 1px var(--red-light-shadow);
}

/* GAME OVER PAGE */
.game-over {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg-opacity-more);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}
.active {
    display: flex;
}

.game-over_title {
    color: white;
    font-size: 12rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    
}
.game-over_title span {
    font-size: 8rem;
    display: block;
    margin-top: 1rem;
}
.restart-btn-xl {
    width: 30rem;
    height: 10rem;

    font-size: 4rem;
}

.rule_link {
    background: none;
    transition: all .2s ease-in-out;
}
.rule_link:hover {
    transform: scale(1.1);
}

/* RULES PAGE */
.rules-window {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-opacity-more);
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.active-window {
    display: flex;
}

.rules-window_img {
    width: 15rem;
}
.rules-window_source {
    font-size: 1.3rem;
    color: white;
    letter-spacing: .1rem;
    margin-top: -2rem;
}
.rules-window_source a {
    color: var(--red-light);
    transition: color .2s ease-in-out;
}
.rules-window_source a:hover {
    color: var(--red);
}
.rules-window_container {
    background-color: var(--bg);
    padding: 4rem 8rem;
    border-radius: 20px;
}
.rules-window_container p {
    margin-bottom: 3rem;
    font-size: 3rem;
}
li {
    line-height: 1.5;
    font-size: 2.5rem;
}
.continue-btn {
    text-transform: uppercase;
    letter-spacing: .1rem;
    width: 30rem;
    padding: 3rem 0;
}

@media screen and (max-width: 1024px) {
    .choice_box {
        width: 25rem;
        height: 25rem;
    }
    .selection {
        max-width: 20rem;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 2rem;
        row-gap: 1rem
    }
    .rules-window_container {
        padding: 4rem 5rem;
        border-radius: 20px;
    }
    .continue-btn {
        margin: 0;
    }
    .rules-window_container p {
        margin-bottom: 1.5rem;
    }
}
@media screen and (max-width: 768px) {
    .choice_box {
        width: 20rem;
        height: 20rem;
    }
    .image_rule {
        width: 15rem;
    }
    .title {
        font-size: 5.05rem;
    }
    .title span {
        font-size: 8rem;
    }
    .round_result, 
    .points_text, 
    .versus {
        font-size: 3rem;
    }
    .points_score {
        font-size: 2rem;
    }
    .rules {
        gap: 7rem;
    }
    .rules-window_container {
        padding: 3rem 5rem;
        border-radius: 20px;
    }

    .rules-window_container p {
        margin-bottom: 1rem;
    }
    
}

@media screen and (max-width: 640px) {
    .title {
        font-size: 3.85rem;
    }
    .title span {
        font-size: 6rem;
        margin-top: -1.5rem;
    }
    .logo {
        width: 15rem;
        left: calc(50% - 7.5rem);
    }
    .round_result, 
    .points_text, 
    .versus {
        font-size: 2.3rem;
    }
    .points_score {
        font-size: 1.7rem;
    }
    .choice_box {
        width: 15rem;
        height: 15rem;
    }
    .choice_box img {
        width: 10rem;
    }
    .btn {
        width: 3.2rem;
    }
    .btn img {
        width: 2rem;
        height: 2rem;
    }
    .selection {
        max-width: 15rem;
        gap: 1rem;
    }
    .rule_link {
        width: 10rem;
    }
    li {
        font-size: 2rem;
        line-height: 1.3;
    }
    .game-over_title {
        font-size: 8rem;
        
    }
    .game-over_title span {
        font-size: 5rem;
    }
    .restart-btn-xl {
        height: 5rem;
    }
}
@media screen and (max-width: 540px) {
    body {
        width: 100vw;
    }
    .title {
        font-size: 3rem;
    }
    .title span {
        font-size: 4.7rem;
        margin-top: -1rem;
    }
    .logo {
        width: 10rem;
        left: calc(50% - 5rem);
        top: -2rem;
    }
    .round_result, 
    .points_text, 
    .versus {
        font-size: 2rem;
    }
    .points_score {
        font-size: 1.5rem;
    }
    .game_container {
        padding: 0 1rem;
        gap: 1rem;
    }
}
@media screen and (max-width: 470px) {
    header {
        padding: 2rem 5rem;
    }
    .title {
        font-size: 2.5rem;
    }
    .title span {
        font-size: 3.9rem;
        margin-top: -1rem;
    }
    .round_result, 
    .points_text, 
    .versus {
        font-size: 1.8rem;
    }
    .points_score {
        font-size: 1.3rem;
    }
    .rule_link {
        width: 8rem;
    }
}
@media screen and (max-width: 425px) {
    .choice_box {
        width: 10rem;
        height: 10rem;
    }
    .choice_box img {
        width: 6rem;
    }
    .rule_link {
        width: 5rem;
    }
    .box {
        gap: 1rem;
    }
    .selection {
        max-width: 10rem;
        gap: .5rem;
    }
    .btn {
        width: 2.5rem;
    }
    .btn img {
        width: 2rem;
        height: 1.5rem;
    }
    .rules {
        gap: 5rem;
    }
    .restart-btn {
        width: 12rem;
        padding: 1rem;
        font-size: 1.3rem;
    }
}